{% extends 'base/base.html' %}

{% block content %}

  <!-- Main Section -->
  <main class="singleProject my-md">
    <div class="container">
      <div class="layout">
        <!-- <div class="column column--1of3">
          <h3 class="singleProject__subtitle">Tools & Stacks</h3>
          <div class="singleProject__toolStack">
            {% for label in image.imagelabel.all %}
            <span class="tag tag--pill tag--sub tag--lg">
              <small>{{label.name}}</small>
            </span>
            {% endfor %}
          </div>
          <a class="singleProject__liveLink" href="#" target="_blank"><i class="im im-external-link"></i>Source Code
          </a>
        </div> -->
        <div class="column column--1of3">
          <h3 class="singleProject__subtitle">Fill Form To Label Image</h3>
          <div class="singleProject__toolStack">

            <form class="form" method="POST">
              {% csrf_token %}
                    <!-- Input:Text -->
              {% for x, y in imagedata %}
                    <div class="form__field">
                        <label for="formInput#text">{{x}} </label>
                        <input class="input input--text" id="formInput#text" type="text" name="{{x}}"
                            placeholder="{{y}}" />
                    </div>
              {% endfor %}
                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
                </form>

          </div>
          <a class="singleProject__liveLink" href="#" target="_blank"><i class="im im-external-link"></i>Source Code
          </a>
        </div>
        <div class="column column--2of3">
          <img class="singleProject__preview" src="{{image.featured_image.url}}" alt="portfolio thumbnail" />
          <!-- <a href="profile.html" class="singleProject__developer">Md. Shahriar Parvez</a> -->
          <h2 class="singleProject__title">{{image.label}}</h2>
          <h3 class="singleProject__subtitle">About the Project</h3>
          <div class="singleProject__info">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima harum maxime debitis amet voluptates esse
            a perferendis tempora, natus pariatur obcaecati odit quisquam fugit deserunt.

            <br />
            <br />
            {{image.imagedata}}
          </div>

          <div class="comments">
            <h3 class="singleProject__subtitle">Feedback</h3>
            <h5 class="project--rating">
              36% Postitive Feedback (18 Votes)
            </h5>

            <form class="form" action="#" method="POST">
              <!-- Textarea -->
              <div class="form__field">
                <label for="formInput#textarea">Comments: </label>
                <textarea class="input input--textarea" name="message" id="formInput#textarea"
                  placeholder="Write your comments here..."></textarea>
              </div>
              <input class="btn btn--sub btn--lg" type="submit" value="Comments" />
            </form>
            <div class="commentList">
              <div class="comment">
                <a href="profile.html">
                  <img class="avatar avatar--md"
                    src="https://pbs.twimg.com/profile_images/1335382240931368961/b3wSZKj4_400x400.jpg" alt="user" />
                </a>
                <div class="comment__details">
                  <a href="profile.html" class="comment__author">Sulamita Ivanov</a>
                  <p class="comment__info">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit alias numquam perferendis
                    mollitia minus minima exercitationem possimus ab deserunt qui, soluta iusto doloribus eveniet
                    similique consequuntur ratione, dignissimos ut magni laborum quo.
                  </p>
                </div>
              </div>
              <div class="comment">
                <a href="profile.html">
                  <img class="avatar avatar--md" src="https://avatars.githubusercontent.com/u/33843378" alt="user" />
                </a>
                <div class="comment__details">
                  <a href="profile.html" class="comment__author">Dennis Ivanov</a>
                  <p class="comment__info">
                    Consectetur adipisicing elit. Reprehenderit alias numquam perferendis mollitia minus minima
                    exercitationem possimus ab deserunt qui, ratione, dignissimos ut magni laborum quo.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </main>
{% endblock %}
